<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <link rel="stylesheet" href="../../css/index.css">
 <link href='https://fonts.googleapis.com/css?family=Anonymous Pro' rel='stylesheet'>
 <link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet'> 
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
  integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
 <title>QuickCredit</title>
</head>
<body>
  <div class="main-containe">
 <nav class="nav-bar">
  <div class="site-title">
   <h1 class="site-name blue-primary" id="h1-id"><a href="../client/index.html" class="blue-primary">Quick<span class="text-primary">Credit</a></span></h1>
  </div>
  <div class="auth-links">
    <a href="admin-dashboard.html" class="sign-in-link text-primary">Dashboard</a>
    <a href="../client/signin.html" class="blue-primary sign-up-link">Logout</a>
  </div>
 </nav>
<h2 class="h2-text">Loan Details</h2>
<div class="loan-details">
  <h2 id="li-name">Ubby James</h2>
  <div>
    <ul class="details-ul">
      <li class="hex-primary">Loan Amount</li>
      <li>&#8358;5600.00</li>
    </ul>
    <ul class="details-ul">
      <li class="hex-primary">Tenor</li>
      <li>&#8358;6 month</li>
    </ul>
    <ul class="details-ul">
      <li class="hex-primary">Installment</li>
      <li>&#8358;1600.00</li>
    </ul>
    <ul class="details-ul">
      <li class="hex-primary">Interest</li>
      <li>5%</li>
    </ul>
    <ul class="details-ul">
      <li class="hex-primary">Status</li>
      <li>Pending</li>
    </ul>
    <ul class="details-ul">
      <li class="hex-primary">Balance</li>
      <li>&#8358;5600.00</li>
    </ul>
    <ul class="details-ul">
      <li class="hex-primary">Repaid</li>
      <li>True</li>
    </ul>
  </div>
</div>
  <div class="footer-div">Copyright © 2019. QuickCredit</div>
 </div>
</body>
</html>

</html>
