<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../css/loanhistory.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <title>QuickCredit|All-Loans</title>
</head>
<body>
        <div class="first-div">
          <div class="first-div">
            <div class="inner-first-div" id="message-info"><i class="fas fa-pen"></i>Signed in as: jonathanwilliams</div>
          </div>
                <div class="inner-first-div" id="sign-div">Sign In / Sign Up</div>
              </div>
              <div class="second-div">
                <div class="site-title">
                  <h1 class="site-name"id="h1-id"><i class="fas fa-skating"></i>QuickCredit</h1>
                  <p id="site-name">your sure loan</p>
                </div>
                <div>
                  <ul class="ul-container">
                    <li><a href ="dashboard.html" class="ul-list">Home</a></li>
                    <li><a href ="repaid.html" class="ul-list">Repaid</a></li>
                    <li><a href ="unrepaid.html" class="ul-list">Unrepaid</a></li>
                  </ul>
                </div>
              </div>
              <div class="loan-container" id="loan-container">
                <table class="loan-history-table" id="approve-reject-table">
                        <tr>
                          <th>Loan Amount</th>
                          <th>Tenor</th>
                          <th>MonthlyInstallment</th>
                          <th>Interest</th>
                          <th>Total</th>
                          <th>Approve</th>
                        </tr>   
                        <tr>
                            <td>&#8358;55,000</td>
                            <td style="min-width:100px">6 month</td>
                            <td>&#8358;9,167.50</td>
                            <td>5%</td>
                            <td>&#8358;55,005.0</td>
                            <td>True</td>
                          </tr>
                          <tr>
                                <td>&#8358;55,000</td>
                                <td style="min-width:100px">6 month</td>
                                <td>&#8358;9,167.50</td>
                                <td>5%</td>
                                <td>&#8358;55,005.0</td>
                                <td>True</td>
                              </tr>
                              <tr>
                                    <td>&#8358;55,000</td>
                                    <td style="min-width:100px">3 month</td>
                                    <td>&#8358;18,335.0</td>
                                    <td>5%</td>
                                    <td>&#8358;55,005.0</td>
                                    <td>True</td>
                                  </tr>
                </table>
              </div>
              <div class="footer-div">copyright © 2019. QuickCredit @ Andela.com</div>
</body>
</html>
