<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../css/index.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <title>QuickCredit</title>
</head><!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <link rel="stylesheet" href="../../css/admindashboard.css">
 <link href='https://fonts.googleapis.com/css?family=Anonymous Pro' rel='stylesheet'>
 <link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet'> 
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
  integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
 <title>QuickCredit|Repayment-Record</title>
</head>
<body>
  <div class="main-container1">
  
 <div class="dasboard-side-bar">
   <div class="ul-div">
  <ul class="ul-sidebar-list">
    <li ><a href="admin-dashboard.html" class="sidebar-list">All loans</a></li>
    <li ><a href="approve-reject.html" class="sidebar-list">Approve/Reject</a></li>
    <li class="sidebar-list"><a href="repaid.html" class="sidebar-list">Repaid</a></li>
    <li ><a href="repayment-record.html"class="sidebar-list"  id="all-loans">Repayment Record</a></li>
    <li ><a href="unrepaid.html" class="sidebar-list">Unrepaid</a></li>
    <li ><a href="verified.html" class="sidebar-list">Verified</a></li>
  </ul>
  <ul>
      <li ><a href="../client/signin.html" class="sidebar-list">Log out</a></li>
  </ul>
  </div>
</div>
<div class="loan-container">
    <h2 id="h2-text">Repayment Record</h2>
    <table class="loan-history-table" id="approve-reject-table">
            <tr>
              <th>Date</th>
              <th>Email</th>
              <th>Amount</th>
              <th>Tenor</th>
              <th>MonthlyInstallment</th>
              <th>Interest</th>
              <th>Paid</th>
              <th>Balance</th>
            </tr>   
            <tr>
                <td>12/25/2018</td>
                <td>jonathanwilliams@gmail.com</td>
                <td>&#8358;55,000</td>
                <td style="min-width:100px">6 month</td>
                <td>&#8358;9,167.50</td>
                <td>5%</td>
                <td>&#8358;18,335.0</td>
                <td>&#8358;36,665.0</td>
              </tr>
              <tr>
                <td>12/25/2018</td>
                <td>jonathanwilliams@gmail.com</td>
                <td>&#8358;55,000</td>
                <td style="min-width:100px">6 month</td>
                <td>&#8358;9,167.50</td>
                <td>5%</td>
                <td>&#8358;18,335.0</td>
                <td>&#8358;36,665.0</td>
              </tr>
              <tr>
                <td>12/25/2018</td>
                <td>jonathanwilliams@gmail.com</td>
                <td>&#8358;55,000</td>
                <td style="min-width:100px">6 month</td>
                <td>&#8358;9,167.50</td>
                <td>5%</td>
                <td>&#8358;18,335.0</td>
                <td>&#8358;36,665.0</td>
              </tr>
    </table>
  </div>
</div>
<div class="footer-div">Copyright © 2019. QuickCredit</div>
</body>
</html>


</html>
