<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <link rel="stylesheet" href="../../css/admindashboard.css">
 <link href='https://fonts.googleapis.com/css?family=Anonymous Pro' rel='stylesheet'>
 <link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet'> 
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
  integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
 <title>QuickCredit|Unrepaid</title>
</head>
<body>
  <div class="main-container1">
  
 <div class="dasboard-side-bar">
   <div class="ul-div">
  <ul class="ul-sidebar-list">
    <li ><a href="admin-dashboard.html" class="sidebar-list">All loans</a></li>
    <li class="sidebar-list"><a href="repaid.html" class="sidebar-list">Repaid</a></li>
    <li ><a href="unrepaid.html" class="sidebar-list" id="all-loans">Unrepaid</a></li>
    <li ><a href="verified.html" class="sidebar-list">Verified</a></li>
  </ul>
  <ul>
      <li ><a href="../client/signin.html" class="sidebar-list">Log out</a></li>
  </ul>
  </div>
</div>
<div class="loan-container">
    <h2 id="h2-text">Unrepaid Loans</h2>
  <a href="a_specific.html"><table class="loan-history-table">
          <tr>
            <th>Email</th>
            <th>Date</th>
            <th>Tenor</th>
            <th>Amount</th>
            <th>PaymentInstallment</th>
            <th>Balance</th>
            <th>Loan</th>
          </tr>   
          <tr>
              <td>jonathanwilliams@yahoo.com</td>
              <td>4/08/2019</td>
              <td style="min-width:100px">6 month</td>
              <td>&#8358;55,000</td>
              <td>&#8358;11, 200</td>
              <td style="min-width:100px">&#8358;18, 000</td>
              <td><button>Detials</button></td>
            </tr>
            <tr>
              <td>jennylewis@gmail.com</td>
              <td>14/11/2017</td>
              <td>3 month</td>
              <td>&#8358;17,000</td>
              <td>&#8358;4,500</td>
              <td>&#8358;1, 000</td>
              <td><button>Detials</button></td>
            </tr>
            <tr>
              <td>elenaparkman@hotmail.com</td>
              <td>1/02/2014</td>
              <td>6 month</td>
              <td>&#8358;6,000</td>
              <td>&#8358;700</td>
              <td>&#8358;18, 000</td>
              <td><button>Detials</button></td>
            </tr>
            <tr>
              <td>tigerwoods@hotmail.com</td>
              <td>10/02/2014</td>
              <td>9 month</td>
              <td>&#8358;100,000</td>
              <td>&#8358;27,00</td>
              <td>&#8358;18, 000</td>
              <td><button>Detials</button></td>
            </tr>
          </a></table>
</div>

</div>
<div class="footer-div">Copyright © 2019. QuickCredit</div>
</body>
</html>


</html>
