<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <link rel="stylesheet" href="../../css/admindashboard.css">
 <link href='https://fonts.googleapis.com/css?family=Anonymous Pro' rel='stylesheet'>
 <link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet'> 
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
  integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
 <title>QuickCredit|Admin-Dashboard</title>
</head>
<body>
  <div class="main-container1">
  
 <div class="dasboard-side-bar">
   <div class="ul-div">
  <ul class="ul-sidebar-list">
    <li ><a href="admin-dashboard.html" class="sidebar-list">All loans</a></li>
    <li ><a href="approve-reject.html" class="sidebar-list">Approve/Reject</a></li>
    <li class="sidebar-list"><a href="repaid.html" class="sidebar-list">Repaid</a></li>
    <li ><a href="repayment-record.html"class="sidebar-list" >Repayment Record</a></li>
    <li ><a href="unrepaid.html" class="sidebar-list">Unrepaid</a></li>
    <li ><a href="verified.html" class="sidebar-list" id="all-loans" >Verified</a></li>
  </ul>
  <ul>
      <li ><a href="../client/signin.html" class="sidebar-list">Log out</a></li>
  </ul>
  </div>
</div>
<div class="loan-container1">
    <h2 id="h2-text">Verified</h2>
    <table class="loan-history-table">
            <tr>
              <th>Email</th>
              <th>Fistname</th>
              <th>Lastname</th>
              <th>HomeAddress</th>
              <th>WorkAddress</th>
              <th>Verified</th>
            </tr>   
            <tr>
                <td>jonathanwilliams@yahoo.com</td>
                <td>Jonathan</td>
                <td>Williams</td>
                <td>59 Kaduna state road</td>
                <td>559 Epic tower road</td>
                <td>True</td>
              </tr>
              <tr>
                  <td>jimmyjack@yahoo.com</td>
                  <td>Jimmy</td>
                  <td>Jack</td>
                  <td>24 oni road</td>
                  <td>559 Epic tower road</td>
                  <td>True</td>
                </tr>
                <tr>
                    <td>sandraodia@yahoo.com</td>
                    <td>Sandra</td>
                    <td>Odia</td>
                    <td>24 Lekki phase 2 road</td>
                    <td>559 Epic tower road</td>
                    <td>True</td>
                  </tr>
    </table>
 
  </div>
</div>
<div class="footer-div">Copyright © 2019. QuickCredit</div>
</body>
</html>


</html>
