*{
  box-sizing: border-box;
}
html{
  height: 100%;
}
body{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Index pages starts here */
.main-container1{
  display:flex;
  height: 100%;

}
.blue-primary{
  color: #2b6898;
}
.text-primary{
  color:#d3143d;
}

.text-white{
  color:#fff;
}

.site-name{
  width:200px;
  font-size: 26px;
  margin-top: 10px;
}
.site-name a{
  text-decoration: none;
}
.ul-sidebar-list{
  margin-top: 150px; 
}
ul li a.sidebar-list{
  font-size: 20px;
  color: #f4f4f4;
  list-style-type: none;  
  text-decoration: none;
}
.dasboard-side-bar{
  height: 100%;
  background-color:#2b6898;
  width: 200px;
}

  /* dashboard container section */
  .dash-board-container{
    display: flex;
    flex-flow: column;
  }
  .dash-board-container-content{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    margin-left: 110px;
  }
  .dash-board-container a{
    text-decoration: none;
    color: #c2cb42;
  }
  #dashboard-content{
    margin-left: 10px;
    margin-right: 10px;
  }
  .dashboard-content{
    box-shadow: 0 0 10px rgba(156, 151, 151, 0.6);
    width: 180px;
    height: 160px;
  }
  .dashboard-content a{
    background-color: #ffffff;
    
  }
  ul li{
    list-style-type: none;
    padding: 10px;
  }
  .apply{
    margin-left: -20px;
    font-size: 22px;
    text-align: center;
    padding-top:20px;
    padding-bottom: 22px;
    width: 100%;
    color: #c2cb42;
  }
  #money-li{
    font-size: 30px;
    color:green;
    text-align: center;
    margin-left: -25px;
    width: 100%;
  }
  #loan-li{
    font-size: 34px;
    color:blue;
    text-align: center;
    margin-left: -25px;
    width: 100%;
  }
  #eli-li{
    font-size: 34px;
    color:red;
    text-align: center;
    margin-left: -25px;
    width: 100%;
  }
  /* Ends here */

  /* footer section */
.footer-div{
  height: 20px;
  color: black ;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
/* Apply Section */
.element-container-sign-in{
  width: 440px;
  height: 330px;
  padding :0px;
  margin-top: 120px;
  margin-left: 170px;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

h1{
  width: 100%;
  text-align: center;
  color:#2b6898;
  margin-top: -5px;
}
.selection{
  font-size: 15px;
  height: 40px;
}
/* .selection-two{
  font-size: 15px;
  height: 40px;
} */
.form-container{
  display: flex;
  flex-flow: column;
  width: 430px;
  margin-top: 14px
  }
  #signup{
    padding-bottom: 10px;
  }
  input[type=email], input[type=password], [type=text]{
    width: 70%;
    padding: 10px 6px;
    margin: 8px 0px 8px 58px;
    display: inline-block;
    color: black;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
  }
  #amount, #tenor-name, #purpose-name{
    font-size: 21px;
    margin: 0px 0px 0px 45px;
  }
  input[type=number]{
    width: 50%;
    padding: 10px 6px;
    margin: 8px 0px 8px 18px;
    display: inline-block;
    color: black;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .selection-one{
    width: 45%;
    padding: 10px 6px;
    margin: 8px 0px 8px 15px;
    display: inline-block;
    color: black;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .selection-two{
    width: 45%;
    padding: 10px 6px;
    margin: 8px 0px 8px 34px;
    display: inline-block;
    color: black;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
  }
button{
    width: 70%;
    margin: 8px 0px 8px 58px;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 17px;
    padding: 5px;
    color:white;
    background-color:#2b6898;
}
  .forget-password-div{
    margin-left: 35px;
    width: 80%;
    display: flex;
    justify-content: space-around;
  }
  #a-forget-password:hover{
    color: #8fb4cf;
  }
  #create-account:hover{
    color: #8fb4cf;
  }
  #forget-password{
    /* margin: 0px 0px 0px 65px; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 170px;
    color: #2b6898;
    }
    #a-forget-password{
      color: #f4f4f4;
      text-decoration: none
    }
    #create-account{
      font-family: Georgia, 'Times New Roman', Times, serif;
      margin-top: 9px;
    }
    a#create-account{
      color: #f4f4f4;
      text-decoration: none;

    }
    #forget-password a{
      text-decoration-line: none
    }

/* Ends Here.... */
/* Apply @media query */

@media screen and (max-width: 960px){
  
}
@media screen and (max-width: 720px){
  
}
@media screen and (max-width: 680px){
  
}
@media screen and (max-width: 640px){

}
@media screen and (max-width: 580px){
.element-container-sign-in{
  margin-left: 30px;
  width: 280px;
  height: 300px;
}
h1{
  margin-left: -76px;
}
input[type=number]{
  width: 30%;
  padding: 10px 6px;
  margin: 0px 0px 8px 18px;
  display: inline-block;
  font-size: 14px;
}
.selection-one{
  width: 27%;
  padding: 10px 6px;
  margin: 0px 0px 8px 15px;
  display: inline-block;
  font-size: 12px;
}
.selection-two{
  width: 27%;
  padding: 10px 6px;
  margin: 0px 0px 8px 34px;
  display: inline-block;
  color: black;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 12px;
}
button{
  width: 40%;
  margin: 0px 0px 8px 58px;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 17px;
  padding: 5px;
  color:white;
  background-color:#2b6898;
}
}
/* End here... */
@media screen and (max-width: 960px){
  .dasboard-side-bar{
    width:140px;
  }
  ul li .sidebar-list{
    margin-left: -35px;
  }
  .dash-board-container-content{
    margin-left: 35px
  }
}
@media screen and (max-width: 720px){
  .dasboard-side-bar{
    width:120px;
  }
  ul li .sidebar-list{
    margin-left: -35px;
  }
  .dashboard-content{
    width: 160px;
  }
  .dash-board-container-content{
    margin-left: 35px
  }
  ul li.apply{
    font-size: 18px;
  }
}
@media screen and (max-width: 680px){
  .dasboard-side-bar{
    width:120px;
  }
  ul li .sidebar-list{
    margin-left: -35px;
  }
  .dashboard-content{
    width: 160px;
  }
  .dash-board-container-content{
    margin-left: 18px
  }
}
@media screen and (max-width: 640px){
  .dash-board-container-content{
    margin-left: 18px
  }
  .dasboard-side-bar{
    width:120px;
  }
  ul li .sidebar-list{
    margin-left: -35px;
  }
  .dashboard-content{
    width: 140px;
  }
  ul li.apply{
    font-size: 16px;
  }
}
@media screen and (max-width: 580px){
  .dash-board-container-content{
    display: flex;
    flex-flow: column;
    margin-top: 50px;
    margin-left: 75px;
  }
  .dashboard-content{
    margin:0;
    width: 180px;
  }
  #dashboard-content{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -1px;
  }
  #apply{
    margin-left: 5px;
    font-size: 22px
  }
  .dasboard-side-bar{
    background-color:#2b6898;
    width: 150px;
  }
  .ul-sidebar-list{
    margin-left: 12px
  }
  #sidebar-list{
    margin-left: -23px
  }
  
}