*{
  box-sizing: border-box;
}

.btn {
  background-color: #d3143d; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius:20px;
  width:150px;
}
.text-primary{
  color:#d3143d;
}
.blue-primary{
  color: #2b6898;
}
.background-primary{
  background-color:#d3143d;
}
.h2-text{
  margin-top: 160px;
  text-align: center;
}
.loan-details{
  margin-top: 200px;
  height: 400px;
  width: 400px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
  margin: auto;
}
#li-name{
  color: #313030;
  margin-left: 45px;
}
.hex-primary{
color: #b9b9b9;
font-weight: 700;
}
.details-ul{
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-top: -10px;
}
.main-container{
  height: 100vh;
  background-image: url('../images/11.jpg');
  display:flex;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.text-white{
  color:#fff;
}
h1{
  margin:0px;
  padding:0px;
}
.home-title{
  font-family:'Audiowide';
}
.auth-links a{
   text-decoration: none; 
   font-weight:bold;
  font-family:'Audiowide';
}
.sign-in-link{
margin-right:20px;
}
.sign-in-link{
  
}
body{
  /* background-image: url('../images/11.jpg'); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100hv;
    margin: 0;
    padding: 0;
  }
  /* dashboard container section */
  .dash-board-container{
    display: flex;
    margin-top: 290px;
    justify-content: center;
    align-items: center;  
  }
  .dash-board-container a{
    text-decoration: none;
    color: #c2cb42;
  }
  .dashboard-content{
    border: 1px solid #2b6898;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    width: 240px;
    height: 160px;
    background-color: #ffffff;
    color:black;
  }
  ul li{
    list-style-type: none;
    padding: 10px;
  }
  #apply{
    margin-left: -20px;
    /* margin-right: 44px; */
    font-size: 22px;
    text-align: center;
    margin-top: 25px;
    width: 100%;
  }
  #money-li{
    font-size: 28px;
    color:black;
    text-align: center;
    margin-left: -25px;
    width: 100%;
  }
  /* Ends here */
  
  .site-title{
    display: flex;
    flex-flow: column;
  }
  .site-name a{
    text-decoration: none;
  }
  .first-div{
    display: flex;
    justify-content: space-between;
    background-color:black;
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    z-index: 1;
  }
  .inner-first-div{
    color: #fff;
    padding: 5px;
  }
  #message-info{
    margin-left: 100px;
    font-size: 13px;
  }
  #sign-div{
    margin-right: 57px;
    font-size: 13px;
  }
  .nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    padding:20px 30px;
  }
  .site-title{
    display: flex;
    flex-flow: column;
  }
  h4{
    color: black;   
  }
  .site-title p{
    margin: -30px 0px 0px 39px;
    color: #fff
  }
  .ul-container{
    display: flex;
    list-style-type: none;
    padding: 10px;
    margin: 24px 19px 15px 0px;
  }
  .ul-list{
    text-decoration: none;
    padding: 15px;
    color: #fff;
    height: 45px;
  }
  .ul-list:hover{
    background-color: rgb(101, 101, 240);
  }
  h1, h4, #loc-name{
    color: #7f7f7f;
    /* margin-left: 39px */
  }
  h4, #loc-name{
    color: #2b6898;
  }
  h4{
    margin-bottom: -11px;
  }
  h1{
    text-align: center;
  }
    /* Loan repayment history section */
    .loan-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 200px; 
      }
      .loan-container2{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -90px; 
        margin-left: -10px;
        flex-flow: column;
      }
      table, th, td {
        /* border: 1px solid black; */
      }
      .loan-history-table th{
        text-align: left;
        background-color: #2b6898;
      }
      .loan-history-table{
          width: 70%;
          height: 70px;
          border-collapse: collapse;
      }
      tr:hover {background-color: #f5f5f5;}
      tr:nth-child(odd) {background-color: #dad4d4;}
      td{
          width: 40%;
          text-align: center;
          padding: 12px;
      }
      th{
        width: 40%;
        text-align: center;
        padding:15px;
    }
    td, th {
      border-bottom:none;
    }
    
      /* Ends here */
  
  .footer-div{
    height: 60px;
    color: #f4f4f4;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  /* Landing page starts here */
  .third-div{
    /* margin-top: 200px; */
    color: white;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .para{
    font-size: 21px;
    width: 65%;
    text-align: center;
    font-family: 'Anonymous Pro';
  }
  input{
    padding: 12px;
    background-color: #2b6898;
    color: #f4f4f4;
    margin-top: -15px;
    border-radius: 12px;
    box-sizing: border-box;
  }
  .fourth-div{
    width: 90%;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 41px;
    display:none;
  }
.fourth-div-element{
    margin-top: 60px;
    height: 70px;
    width: 10%;
    border: 1px solid #2b6898;
    display: flex;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    /* background-color: #2b6898; */
    color: #f4f4f4;
    font-weight: 300;
    padding-top: 25px;
}
.fourth-div-element:hover{
  background-color: #2b6898; 
}
#quick{
  padding-left: 11px
}
#afford{
  margin: 0 5px 0 5px;
}
  /* Ends here */
  @media screen and (max-width: 680px){
    .element-container{
      background-color:greenyellow;
      display: flex;
      margin: auto;
      width: 500px;
      height: 550px;
      flex-flow: column;
    }
  .account-seq{
    width: 80%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rebeccapurple;
    padding: 12px;
  }
  /* Index section */
  /* html{
    height: 90hv;
    padding: 0;
    margin: 0;
  } */
  body{
    background-image: url('../images/11.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100hv;
  padding: 0;
  margin: 0;
  }
  .third-div{
    /* margin-top: 200px; */
    color: white;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  #para{
    font-size: 16px;
    width: 280px;
    text-align: center;
  }
  .fourth-div-element{
    padding: 10px;
    /* margin: 2px; */
    width: 111px;
    height: 100px;
    font-size: 18px;
}
  /* Ends Here */
  }
  @media screen and (max-width: 480px){
    .element-container{
      background-color:rgb(147, 255, 47);
      display: flex;
      margin: auto;
      width: 400px;
      height: 550px;
      flex-flow: column;
    }
    input[type=email]{
      width: 75%;
    }
    input[type=password]{
      width: 75%;
    }
    .account-seq{
      width: 65%;
    }
    /* Index page section */
  html{
      height: 100vh;
    }
    body{
      background-image: url('../images/11.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0;
    margin: 0;
    } 
    .third-div{
      /* margin-top: 200px; */
      color: white;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    #para{
      font-size: 16px;
      width: 280px;
      text-align: center;
    }
    .fourth-div-element{
      padding: 10px;
      /* margin: 2px; */
      width: 111px;
      height: 100px;
      font-size: 18px;
  }
    /* Ends Here */
    /*Dashboard for a loan section  */
.inner-first-div{
  width: 44%;
}
.dash-board-container{
 display: flex;
 margin-left: 61px;
}
.dashboard-content{
  width: 70%;
  text-align: center;
}
#apply{
  margin-top: 38px;

  font-size: 14px;
  text-align: center;
}
#money-li{
  /* width: 80%; */
  text-align: center;
  font-size: 18px;
  color:black;
}
/*Ends here  */

  }
  
