<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../css/index.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <title>QuickCredit</title>
</head><!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <link rel="stylesheet" href="../../css/admindashboard.css">
 <link href='https://fonts.googleapis.com/css?family=Anonymous Pro' rel='stylesheet'>
 <link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet'> 
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
  integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
 <title>QuickCredit|Admin-Dashboard</title>
</head>
<body>
  <div class="main-container1">
 <div class="dasboard-side-bar">
   <div id="ul-div">
  <ul class="ul-sidebar-list">
    <li ><a href="index.html"  class="sidebar-list">Home</a></li>
    <li ><a href="apply.html" class="sidebar-list">Apply</a></li>
    <li class="loanhistory"><a href="../client/loanhistory.html" class="sidebar-list">Loanhistory</a></li>
    <li ><a href="repayment-record.html"class="sidebar-list" id="all-loans">Dashboard</a></li>
    
  </ul>
  <ul>
      <li ><a href="../client/signin.html" class="sidebar-list">Log out</a></li>
  </ul>
  </div>
</div>
<div class="dash-board-container">
    <a href="apply.html"><ul class="dashboard-content">
        <li id="apply">Apply for a loan</li>
        <li id="money-li">&#8358; 0.00</li>
    </ul></a>
    <a href="../client/loanhistory.html"><ul class="dashboard-content">
        <li id="apply">Loan History</li>
        <li id="money-li">0</li>
    </ul></a>
</div>
</div>
<div class="footer-div">Copyright © 2019. QuickCredit</div>
</body>
</html>


</html>
