<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../css/userInfomation.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <title>QuickCredit|Dashboard</title>
</head>
<body>
        <div class="first-div">
                <div class="inner-first-div" id="message-info"><i class="fas fa-pen"></i>Signed in as: jonathanwilliams</div>
              <div class="inner-first-div" id="message-info"></i><a href="signin.html">Sign out</a></div>
              </div>
              <div class="second-div">
                <div class="site-title">
                  <h1 class="site-name" id="h1-id"><i class="fas fa-skating"></i>QuickCredit</h1>
                  <p id="site-name">your sure loan</p>
                </div>
                <div>
                  <ul class="ul-container">
                    <li><a href ="" class="ul-list">Home</a></li>
                  </ul>
                </div>
              </div>
              <div class="dash-board-container">
                  <a href="apply.html"><ul div class="dashboard-content">
                      <li id="apply">Apply for a loan</li>
                      <li id="money-li">&#8358; 0.00</li>
                  </ul></a>
                  <a href="loanhistory.html"><ul div class="dashboard-content">
                      <li id="apply">Loan History</li>
                      <li id="money-li">0</li>
                  </ul></a>
              </div>
      <div class="footer-div">copyright © 2019. QuickCredit @ Andela.com</div><div class="footer-div">copyright © 2019. QuickCredit @ Andela.com</div> 
</body>
</html>