<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../css/index.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <title>QuickCredit</title>
</head><!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, inle" content="ie=edge">
 <meta http-equiv="X-UA-Compatib
 <link rel="stylesheet" href="../../css/ine.css">
 <link href='https://fonts.googleapis.com/css?family=Anonymous Pro' rel='stylesheet'>
 <link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet'> 
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
  integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
 <title>QuickCredit</title>
</head>
<body>
  <div class="main-container">
 <nav class="nav-bar">
  <div class="site-title">
   <h1 class="site-name text-white" id="h1-id">Quick<span class="text-primary">Credit</span></h1>
  </div>
  <div class="auth-links">
    <a href="signin.html" class="sign-in-link text-primary">Sign In</a>
    <a href="signup.html" class="text-white sign-up-link">Sign Up</a>
  </div>
 </nav>
  <div class="third-div">
   <h1 class="text-white home-title">QuickCredit</h1>
   <p class="para">Quick Credit is an online loan web app that grants soft short term loans. Checkout the amazing catching Interest rates available for you, by instantly creating an
    account</p>
   <a href="signup.html" class="btn background-primary">Signup</a>
  </div>
  <div class="footer-div">Copyright © 2019. QuickCredit</div>
 </div>
</body>
</html>

</html>
