<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../css/index.css">
  <link href='https://fonts.googleapis.com/css?family=Anonymous Pro' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet'>  
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <title>QuickCredit|Loan-History</title>
</head>

<body>
    <div class="main-container">
  <nav class="nav-bar">
    <div class="site-title">
      <h1 class="site-name text-white" id="h1-id">Quick<span class="text-primary">Credit</span></h1>
    </div>
    <div class="auth-links">
        <a href="signin.html" class="sign-in-link text-primary">Sign In</a>
        <a href="signin.html" class="text-white sign-up-link">Sign Up</a>
    </div>
  </nav>
    <div class="third-div">
      <h1 class="text-white home-title">Quick Credit</h1>
      <p class="para">Quick Credit is a non line lending platform that provides short term soft loans to individuals. This helps solve problems of financial inclusion as a way to alleviate poverty and empower low income earners.</p>
      <a href="signup.html" class="btn background-primary">Signup</a>
    </div>
    <div class="fourth-div">
      <div class="fourth-div-element">Get Discounted %</div>
      <div class="fourth-div-element" id="afford">Affordable Rates</div>
      <div class="fourth-div-element" id="quick">Quick Credit</div>
    </div>
    <div class="footer-div">Copyright © 2019. QuickCredit</div>
  </div>
</body>

</html>