<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../css/userInfomation.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <title>QuickCredit|Sign In</title>
</head>
<body>
        <div class="first-div" id="first-div">
                <div class="inner-first-div" id="sign-div"><i class="fas fa-pen"></i><a href="signup.html">Sign Up</a></div>
              </div>
              <div class="second-div">
                <div class="site-title">
                  <h1 class="site-name" id="h1-id"><i class="fas fa-skating"></i>QuickCredit</h1>
                  <p class="site-name">your sure loan</p>
                </div>
              </div>
      <div class="element-container-sign-in">
        <h4><i class="fas fa-skating"></i>QuickCredit</h4>
        <p id="loc-name">(Your sure loan)</p>
        <h1>Sign in</h1>
        <form class="form-container">
            <label for="email" class="label-text"></label>
            <input type="email" id="email" name="email" placeholder="Email Address..." required>
            <label for="password" class="label-text"></label>
            <input type="password" id="password" name="password" placeholder="Enter Your Password..." required>
            <div class="login-password-recovery">
            <input type="submit" id="log-in" name="login" value="Sign in">
            </div>
        </form>
        <div class="forget-password-div">
            <span><p id="forget-password"><a id="a-forget-password" href="">Forget Password?</a></p></span>
            <span class="create-account"><a id="create-account" href="signup.html">Create a new account</a></span>
        </div>
      </div> 
      <div class="footer-div">copyright © 2019. QuickCredit @ Andela.com</div>
</body>

</html>