<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../css/userInfomation.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <title>QuickCredit|Sign Up</title>
</head>
<body>
        <div class="first-div" id="first-div">
                <div class="inner-first-div" id="sign-div"><a href="signin.html">Sign In</a></div>
              </div>
              <div class="second-div">
                <div class="site-title">
                  <h1 class="site-name" id="h1-id"><i class="fas fa-skating"></i>QuickCredit</h1>
                  <p class="site-name">your sure loan</p>
                </div>
                <div>
                  <ul class="ul-container">
                    <li><a href ="index.html" class="ul-list">Home</a></li>
                  </ul>
                </div>
              </div>
      <div class="element-container">
        <h4><i class="fas fa-skating"></i>QuickCredit</h4>
        <p id="loc-name">(Your sure loan)</p>
        <h1 id="signup">Sign up</h1>
        <form class="form-container">
            <input type="text" placeholder="Enter Your First name..." required>
            <input type="text" placeholder="Enter Your Lastname..." required>
            <input type="text" placeholder="Enter Your Home Address..." required>
            <input type="text" placeholder="Enter Your Work Address..." required>
            <input type="email" placeholder="Enter Your Email..." required>
            <input type="password" placeholder="Enter Your Password..." required>
            <button>Submit</button>
        </form>
        <div class="forget-password-div">
            <span><p id="forget-password">Have an Account? Sign in</p></span>
        </div>
      </div>
      <div class="footer-div">copyright © 2019. QuickCredit @ Andela.com</div><div class="footer-div">copyright © 2019. QuickCredit @ Andela.com</div> 
</body>
</html>